<!DOCTYPE html>
<html  lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ asset('checklist.png') }}" />
        <title>{% block title %}{{ 'Task Application'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <style>
                .dropdown-menu-right {
                    float: right;
                }
                #navbarDropdownProfile {
                    float: right;
                }

            </style>
        {% endblock %}

        {% if is_granted("ROLE_ADMIN") %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">AppliTache</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">{{ 'Home'|trans }}<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProject" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Project'|trans }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownProject">
                            <a class="dropdown-item" href="{{ path('project_index') }}">{{ 'Show'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('project_new') }}">{{ 'Add'|trans }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTask" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Task'|trans }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownTask">
                            <a class="dropdown-item" href="{{ path('task_index') }}">{{ 'Show'|trans }}</a>
                        <!--    <a class="dropdown-item" href="{{ path('task_new') }}">{{ 'Add'|trans }}</a> -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStats" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Stats'|trans }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownStats">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'User'|trans }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                            <a class="dropdown-item" href="{{ path('user_index') }}">{{ 'Show'|trans }}</a>
                            <a class="dropdown-item" href="">{{ 'Add'|trans }}</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-menu-right">
                    <a href="{{ path('homepage', {'_locale':'en'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ 'English'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-menu-right">
                    <a href="{{ path('homepage', {'_locale':'fr'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ 'French'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-menu-right">
                    <a href="#" class=" nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                       <span class="glyphicon glyphicon-user"></span>  {{ 'Profile'|trans }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">{{ 'Change Password'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'Show'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
                    </div>
                </li>
            </ul>
        </nav>
        {% elseif is_granted("ROLE_CHIEF") %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">AppliTache</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}">{{ 'Home'|trans }}<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProject" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'Project'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownProject">
                                <a class="dropdown-item" href="{{ path('project_index') }}">{{ 'Show'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('project_new') }}">{{ 'Add'|trans }}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTask" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'Task'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownTask">
                                <a class="dropdown-item" href="{{ path('task_index') }}">{{ 'Show'|trans }}</a>
                        <!--    <a class="dropdown-item" href="{{ path('task_new') }}">{{ 'Add'|trans }}</a> -->
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStats" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'Stats'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownStats">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a href="{{ path('homepage', {'_locale':'en'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'English'|trans }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a href="{{ path('homepage', {'_locale':'fr'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'French'|trans }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Profile'|trans }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">{{ 'Change Password'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'Show'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
                        </div>
                    </li>
                </ul>
            </nav>
        {% elseif is_granted("ROLE_DEV") %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">AppliTache</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}">{{ 'Home'|trans }}<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProject" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'Project'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownProject">
                                <a class="dropdown-item" href="{{ path('project_index') }}">{{ 'Show'|trans }}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTask" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'Task'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownTask">
                                <a class="dropdown-item" href="{{ path('task_index') }}">{{ 'Show'|trans }}</a>
                                <!--    <a class="dropdown-item" href="{{ path('task_new') }}">{{ 'Add'|trans }}</a> -->
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStats" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Stats
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownStats">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a href="{{ path('homepage', {'_locale':'en'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'English'|trans }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a href="{{ path('homepage', {'_locale':'fr'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'French'|trans }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Profile'|trans }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">{{ 'Change password'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'Show'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
                        </div>
                    </li>
                </ul>
            </nav>
        {% elseif is_granted("ROLE_USER") %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">AppliTache</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}">{{ 'Home'|trans }}<span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a href="{{ path('homepage', {'_locale':'en'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'English'|trans }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a href="{{ path('homepage', {'_locale':'fr'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'French'|trans }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Profile'|trans }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">{{ 'Change password'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'Show'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
                        </div>
                    </li>
                </ul>
            </nav>
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">AppliTache</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}">{{ 'Home'|trans }}<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a href="{{ path('homepage', {'_locale':'en'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'English'|trans }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown dropdown-menu-right">
                        <a href="{{ path('homepage', {'_locale':'fr'}) }}" class=" nav-link "  id="navbarDropdownProfile" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'French'|trans }}
                        </a>
                    </li>
                </ul>

            </nav>
        {% endif %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>
