{% extends 'base.html.twig' %}

{% block body %}

            {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="container">


        <div class="card bg-light mb-3" id="container">
            <div class="card-body">
                <div id="welcome" class="text-center">
                    <h1><span>{{ 'Welcome to the Tasks Management Application'|trans }}</span></h1>
                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-12">
                <div class="card-deck">
               {% for project in projects if project.etatP == 'project.progress' %}
                    <div class="card border-dark mb-3">
                        <div>

                            <div class="card-header"><h5><b> {{ project.nomP }}</b></h5></div>
                            <div class="card-body">

                                <div id="ligne" class="row">
                                    <div class="col">
                                        <p><b>{{ 'Description' }}</b></p>
                                        <p>{{ project.descriptionP }}</p>
                                    </div>
                                    <div class="col">
                                        <p><b>{{ 'Start Date'|trans }}</b></p>
                                        <p>{% if project.dateDebutP %}{{ project.dateDebutP|date('Y-m-d') }}{% endif %}</p>
                                    </div>
                                    <div class="col">
                                        <p><b>{{ 'End Date'|trans }}</b></p>
                                        <p>{% if project.dateFinP %}{{ project.dateFinP|date('Y-m-d') }}{% endif %}</p>
                                    </div>
                                    <div class="col">
                                        <p><b>{{ 'Project manager'|trans }}</b></p>
                                        <p>{{ project.idChefP }}</p>
                                    </div>
                                    <div class="col">
                                        <p><b>{{ 'Actions'|trans }}</b></p>
                                        {% if is_granted("ROLE_ADMIN") or  project.idChefP == app.user  %}

                                            <p>
                                                <ul>
                                            <p> <a href="{{ path('project_show', { 'id': project.id }) }}" class="btn btn-sm btn-primary">{{ 'Show'|trans }}</a></p>
                                            <p> <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-sm btn-info">{{ 'Edit'|trans }}</a></p>
                                            <p> <a href="{{ path('delete_project', {'id': project.id}) }}" class=" btn btn-danger btn-sm">{{ 'Delete'|trans }}</a></p>
                                            </ul>
                                            </p>
                                        {% else %}
                                            <p>
                                                <ul>
                                                    <p> <a href="{{ path('project_show', { 'id': project.id }) }}" class="btn btn-sm btn-primary">{{ 'Show'|trans }}</a></p>
                                                </ul>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

            {% else %}
                <div class="card bg-light mb-3" id="container">
                    <div class="card-body">
                        <div id="welcome" class="text-center">
                            <h1><span>{{ 'Welcome to the Tasks Management Application'|trans }}</span></h1>
                        </div>
                {% set menuConnexion = [
                    { 'path' : 'fos_user_registration_register', 'name' : 'Register'|trans  },
                    { 'path' : 'fos_user_security_login', 'name' : 'Login'|trans }
                    ] %}
                            <div class="row justify-content-md-center">
                            {%  for item in menuConnexion %}
                                <p>
                                    <a class="btn btn-dark btn-lg" href="{{ path(item['path']) }}" role="button">{{ item['name'] }} </a>
                                </p>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    p { margin: 0 0 1em 0; }
    a { color: #eeeeee; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    .btn {color: #eeeeee}



</style>
{% endblock %}
