{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                {%  for role in user.roles %}
                    <td>{{ dump(role) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Task</th>
                {%  for task in user.tacheU %}
                    <td>{{ dump(task) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Project</th>
                {%  for project in user.projetU %}
                    <td>{{ dump(project) }}</td>
                {% endfor %}
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('delete_user', {'id': user.id}) }}" class=" btn btn-danger btn-sm"> Delete</a>
        </li>
    </ul>
{% endblock %}
