{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div class="col-lg-12 text-center">
            <h1>{{ 'Task edit'|trans }}</h1>
            <br>
            <div class="form-group">
                {{ form_start(edit_form) }}
                <div class="form-group row">
                    <div class="col-sm-12">{{ form_row(edit_form.nomT) }} </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">   {{ form_row(edit_form.descriptionT) }} </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">  {{ form_row(edit_form.dateDebutT) }} </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12"> {{ form_row(edit_form.dateFinT) }} </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12"> {{ form_row(edit_form.etatT) }} </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12"> {{ form_row(edit_form.idDevT) }}</div>
                </div>
                <input type="submit" class="btn btn-success" value="{{ 'Edit'|trans }}" />
                {{ form_end(edit_form) }}
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <ul>
                <a class="btn btn-info" href="{{ path('task_index') }}">{{'Back to the list'|trans}}</a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
