{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <div class="col-lg-12 text-center">
                <h1>{{ 'Task creation'|trans }}</h1>
                <div class="form-group">
                    {{ form_start(form) }}
                    <div class="form-group row">
                        <div class="col-sm-12">{{ form_row(form.nomT) }} </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">   {{ form_row(form.descriptionT) }} </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">  {{ form_row(form.dateDebutT) }} </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12"> {{ form_row(form.dateFinT) }} </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12"> {{ form_row(form.etatT) }} </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12"> {{ form_row(form.idDevT) }}</div>
                    </div>
                    <input type="submit" class="btn btn-success" value="{{ 'Create'|trans }}" />
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <ul>
                    <a class="btn btn-info" href="{{ path('project_index') }}">{{'Back to the Projects list'|trans}}</a>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        h1 { font-size: 36px; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }


    </style>
{% endblock %}