{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="text-center">{{ 'Task'|trans }} n° {{ task.id }}</h3>
    <div class="container">

        <div class="card bg-light mb-3">
            <div class="card-header"><h5><b>{{ task.nomT }}</b></h5></div>
            <div class="card-body">
                <div id="ligne" class="row">
                    <div class="col">
                        <p><b>{{ 'Description' }}</b></p>
                        <p>{{ task.descriptionT }}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Start Date'|trans }}</b></p>
                        <p>{% if task.dateDebutT %}{{ task.dateDebutT|date('Y-m-d') }}{% endif %}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'End Date'|trans }}</b></p>
                        <p>{% if task.dateFinT %}{{ task.dateFinT|date('Y-m-d') }}{% endif %}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Developer'|trans }}</b></p>
                        <p>{{ task.idDevT }}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Actions'|trans }}</b></p>
                        <p>
                        <ul>
                               <p> <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-sm btn-info">{{ 'Edit'|trans }}</a></p>
                               <p> <a href="{{ path('delete_task', {'id': task.id}) }}" class=" btn btn-danger btn-sm">{{ 'Delete'|trans }}</a></p>
                        </ul>
                        </p>
                    </div>
                </div>
             </div>
        </div>


        <h2>{{ 'Linked project'|trans }}</h2>
        <div class="card bg-light mb-3">
            <div class="card-header"><h5><b>{{ task.nomT }}</b></h5></div>
            <div class="card-body">
                <div id="ligne" class="row">
                    <div class="col">
                        <p><b>Id</b></p>
                        <p>{{ task.idProjetT.id }}</a></p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Name'|trans }}</b></p>
                        <p>{{ task.idProjetT.nomP }}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Description' }}</b></p>
                        <p>{{ task.idProjetT.descriptionP }}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Start Date'|trans }}</b></p>
                        <p>{% if task.idProjetT.dateDebutP %}{{ task.idProjetT.dateDebutP|date('Y-m-d') }}{% endif %}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'End Date'|trans }}</b></p>
                        <p>{% if task.idProjetT.dateFinP %}{{ task.idProjetT.dateFinP|date('Y-m-d') }}{% endif %}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Client name'|trans }}</b></p>
                        <p>{{ task.idProjetT.nomClient }}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Developer'|trans }}</b></p>
                        <p>{{ task.idProjetT.idChefP }}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Actions'|trans }}</b></p>
                        {% if is_granted("ROLE_ADMIN") or  is_granted("ROLE_CHIEF")   %}

                        <p>
                            <ul>

                                    <a href="{{ path('project_show', { 'id': task.idProjetT.id }) }}" class="btn btn-sm btn-primary">{{ 'Show'|trans }}</a>

                            </ul>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

            <h2>{{ 'Developer'|trans }}</h2>
        <div class="card bg-light mb-3">
            <div class="card-header"><h5><b>{{ task.nomT }}</b></h5></div>
            <div class="card-body">
                <div id="ligne" class="row">
                    <div class="col">
                        <p><b>Id</b></p>
                        <p>{{ task.idDevT.id }}</a></p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Firstname'|trans }}</b></p>
                        <p>{{ task.idDevT.firstname }}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Lastname' }}</b></p>
                        <p>{{ task.idDevT.lastname }}</p>
                    </div>
                    <div class="col">
                        <p><b>{{ 'Actions'|trans }}</b></p>

                        <ul>
                                <a href="{{ path('user_show', { 'id': task.idDevT.id }) }}" class="btn btn-sm btn-primary">{{ 'Show'|trans }}</a>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-12 text-center">
        <p> <a href="{{ path('task_index') }}" class="btn btn-lg btn-primary ">{{ 'Back to the list'|trans }}</a></p>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}